<a href="https://colab.research.google.com/github/RohanDoshi21/PICT-TE-SEM6-DSBDAL/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [3]:
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [4]:
df.groupby(['variety']).mean()

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             5.006        3.428         1.462        0.246
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026

In [5]:
df.groupby(['variety']).median()

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa               5.0          3.4          1.50          0.2
Versicolor           5.9          2.8          4.35          1.3
Virginica            6.5          3.0          5.55          2.0

In [6]:
df.groupby(['variety']).std()

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa          0.352490     0.379064      0.173664     0.105386
Versicolor      0.516171     0.313798      0.469911     0.197753
Virginica       0.635880     0.322497      0.551895     0.274650

In [7]:
df.groupby(['variety']).quantile(0.50)

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa               5.0          3.4          1.50          0.2
Versicolor           5.9          2.8          4.35          1.3
Virginica            6.5          3.0          5.55          2.0

In [8]:
import random
age = []
income = []
for i in range(0,200):
  n = random.randint(18,60)
  age.append(n)
for i in range(0,200):
  n = random.randint(30000,1000000)
  income.append(n)
print(age)
print(income)

[23, 54, 57, 22, 19, 28, 48, 58, 49, 25, 60, 25, 53, 52, 47, 51, 20, 28, 40, 59, 50, 23, 46, 58, 34, 22, 51, 46, 27, 60, 26, 34, 51, 38, 57, 54, 29, 26, 29, 36, 30, 39, 24, 49, 29, 27, 36, 48, 38, 51, 50, 33, 36, 22, 37, 42, 36, 50, 37, 41, 42, 25, 31, 56, 27, 28, 47, 42, 22, 46, 38, 31, 23, 51, 59, 51, 25, 35, 20, 33, 22, 23, 41, 45, 34, 31, 20, 52, 45, 24, 35, 37, 53, 54, 27, 29, 35, 59, 41, 52, 22, 35, 22, 35, 36, 43, 56, 59, 49, 30, 36, 29, 28, 36, 40, 45, 43, 41, 54, 29, 23, 34, 60, 29, 54, 30, 29, 49, 42, 52, 18, 50, 59, 59, 20, 58, 46, 43, 49, 60, 27, 31, 27, 58, 48, 32, 30, 22, 20, 50, 34, 29, 24, 35, 25, 37, 24, 49, 18, 53, 58, 60, 35, 39, 38, 56, 55, 31, 20, 34, 28, 35, 37, 25, 44, 54, 22, 39, 58, 58, 40, 47, 19, 29, 27, 39, 43, 32, 58, 19, 40, 44, 25, 31, 47, 43, 47, 28, 50, 53]
[53157, 537097, 260012, 537785, 229237, 660578, 82851, 425668, 132199, 311806, 190152, 213138, 218191, 111576, 743970, 245988, 993244, 32517, 708309, 858039, 432968, 349183, 661633, 839067, 867573, 201800, 898937, 597212, 149210, 181410, 839095, 932735, 355041, 31252, 612855, 596227, 96700, 32996, 452151, 689809, 417415, 397120, 560609, 937746, 189565, 313872, 208171, 211763, 754434, 140497, 377564, 466624, 642805, 775118, 76341, 248992, 457310, 436690, 670666, 517187, 767625, 956720, 897118, 929848, 849416, 345140, 509830, 602087, 150567, 186858, 426343, 878780, 96544, 455865, 757773, 369918, 962473, 82973, 331544, 147188, 527796, 219961, 735204, 241308, 352769, 236692, 825727, 430784, 180856, 82670, 724326, 964711, 698855, 377077, 593030, 916178, 91057, 978362, 65613, 586205, 100454, 901143, 316287, 832485, 728927, 774162, 36758, 974220, 653916, 434996, 655022, 841505, 296862, 628200, 42578, 625377, 196386, 88963, 889759, 171360, 394584, 258702, 923560, 216073, 329805, 499099, 540659, 912279, 898947, 907127, 318412, 169768, 609579, 383631, 607752, 214300, 718253, 610920, 744510, 787911, 108196, 927508, 278905, 357902, 569792, 76107, 866213, 776521, 687088, 476087, 973815, 464505, 311644, 770859, 785445, 388675, 104680, 555193, 273644, 343997, 759668, 224199, 489103, 297409, 618867, 362518, 812663, 274372, 982141, 789098, 472234, 932064, 180137, 389622, 377004, 895377, 518042, 401602, 742795, 184325, 619969, 899055, 273721, 837404, 491651, 362158, 546269, 246374, 165444, 690776, 449093, 587620, 100814, 394571, 76793, 570143, 319771, 324776, 590738, 573790]

In [9]:
data = {
    'age' : age,
    'income': income
}

df = pd.DataFrame(data)
df.head

<bound method NDFrame.head of      age  income
0     23   53157
1     54  537097
2     57  260012
3     22  537785
4     19  229237
..   ...     ...
195   43  570143
196   47  319771
197   28  324776
198   50  590738
199   53  573790

[200 rows x 2 columns]>

In [10]:
age_groups = [18,20,30,40,50,60]
labels = ['18-20', '20-30', '30-40', '40-50', '50-60']
df['age_group'] = pd.cut(x = df['age'], bins = age_groups, labels = labels, include_lowest = True)
df

     age  income age_group
0     23   53157     20-30
1     54  537097     50-60
2     57  260012     50-60
3     22  537785     20-30
4     19  229237     18-20
..   ...     ...       ...
195   43  570143     40-50
196   47  319771     40-50
197   28  324776     20-30
198   50  590738     40-50
199   53  573790     50-60

[200 rows x 3 columns]

In [11]:
groups = df.age_group.unique()
groups

['20-30', '50-60', '18-20', '40-50', '30-40']
Categories (5, object): ['18-20' < '20-30' < '30-40' < '40-50' < '50-60']

In [12]:
ans=[]

for i in groups:
  temp=[]
  x = df.loc[df['age_group'] == i, 'income']
  temp.append(i)
  temp.append(x.mean())
  temp.append(x.median())
  temp.append(x.std())
  temp.append(x.max())
  temp.append(x.min())
  ans.append(temp)
  
ans

[['20-30', 417217.05555555556, 369402.5, 274489.10512065917, 962473, 32517],
 ['50-60', 522994.93333333335, 455865.0, 284681.86622721347, 978362, 36758],
 ['18-20', 564844.1818181818, 607752.0, 292524.62575373653, 993244, 229237],
 ['40-50', 491240.5238095238, 550731.0, 256937.04148589363, 937746, 65613],
 ['30-40', 519665.5, 477863.5, 292795.42422036413, 973815, 31252]]

In [13]:
disp = pd.DataFrame(ans, columns=['age_group', 'mean', 'median', 'Standard Deviation', 'Maximum', 'Minimum'])
disp

  age_group           mean    median  Standard Deviation  Maximum  Minimum
0     20-30  417217.055556  369402.5       274489.105121   962473    32517
1     50-60  522994.933333  455865.0       284681.866227   978362    36758
2     18-20  564844.181818  607752.0       292524.625754   993244   229237
3     40-50  491240.523810  550731.0       256937.041486   937746    65613
4     30-40  519665.500000  477863.5       292795.424220   973815    31252